#pragma code_page(65001)

#include <Windows.h>
#include <CommCtrl.h>
#include <Richedit.h>
#include <wingdi.h>

#include "resource.h"

#if 1

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDD_LAUNCHER DIALOGEX 0, 0, 300, 180
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wireframe Touhou Launcher"
FONT 9, "MS UI Gothic", FW_DONTCARE, 0, SHIFTJIS_CHARSET
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,189,159,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,243,159,50,14
    CONTROL         "",IDC_LIST_PROCESS,"SysListView32",LVS_REPORT | LVS_OWNERDATA | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,120,166
    LTEXT           "ゲーム(&G)",IDC_STATIC,135,10,35,8
    COMBOBOX        IDC_COMBO_GAME,170,7,123,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "モード(&M)",IDC_STATIC,135,29,35,8
    CONTROL         "Ingame hook",IDC_RADIO_MODE_HOOK,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,170,28,123,10
    CONTROL         "他のあるかもしれません",IDC_RADIO_MODE_MORE,"Button",BS_AUTORADIOBUTTON | WS_DISABLED  | WS_TABSTOP,170,42,123,10
    LTEXT           "画面(&S)",IDC_STATIC,135,60,35,8
    CONTROL         "1.0x",IDC_RADIO_SCALE_10,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,170,59,60,10
    CONTROL         "1.5x",IDC_RADIO_SCALE_15,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,230,59,60,10
    CONTROL         "2.0x",IDC_RADIO_SCALE_20,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,170,73,60,10
    CONTROL         "Auto",IDC_RADIO_SCALE_AUTO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,230,73,60,10
END

STRINGTABLE
BEGIN
IDS_WARN_MISMATCH "選択されたプロセスが識別できません。"
IDS_WARN_INJECT "ゲーム改造パッチが失敗した。"
IDS_TITLE_TH06 "TH06: 東方紅魔郷"
IDS_TITLE_TH07 "TH07: 東方妖々夢"
IDS_TITLE_TH08 "TH08: 東方永夜抄"
IDS_TITLE_TH09 "TH09: 東方花映塚"
IDS_TITLE_TH10 "TH10: 東方風神録"
IDS_TITLE_TH11 "TH11: 東方地霊殿"
IDS_TITLE_TH12 "TH12: 東方星蓮船"
IDS_TITLE_TH13 "TH13: 東方神霊廟"
IDS_TITLE_TH14 "TH14: 東方輝針城"
IDS_TITLE_TH15 "TH15: 東方紺珠伝"
IDS_TITLE_TH16 "TH16: 東方天空璋"
END

#endif
