#pragma code_page(65001)

#include <Windows.h>
#include <CommCtrl.h>
#include <Richedit.h>
#include <wingdi.h>

#include "resource.h"

#if 1

LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_DEFAULT

IDD_LAUNCHER DIALOGEX 0, 0, 300, 180
STYLE DS_CENTER | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wireframe Touhou 启动器"
FONT 9, "Microsoft YaHei UI", FW_DONTCARE, 0, GB2312_CHARSET
BEGIN
    DEFPUSHBUTTON   "确认",IDOK,189,159,50,14
    PUSHBUTTON      "取消",IDCANCEL,243,159,50,14
    CONTROL         "",IDC_LIST_PROCESS,"SysListView32",LVS_REPORT | LVS_OWNERDATA | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,120,166
    LTEXT           "游戏(&G)",IDC_STATIC,135,10,35,8
    COMBOBOX        IDC_COMBO_GAME,170,7,123,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "模式(&M)",IDC_STATIC,135,29,35,8
    CONTROL         "Ingame hook",IDC_RADIO_MODE_HOOK,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,170,28,123,10
    CONTROL         "也许还有其他方式 :)",IDC_RADIO_MODE_MORE,"Button",BS_AUTORADIOBUTTON | WS_DISABLED  | WS_TABSTOP,170,42,123,10
    LTEXT           "画面(&S)",IDC_STATIC,135,60,35,8
    CONTROL         "1.0x",IDC_RADIO_SCALE_10,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,170,59,60,10
    CONTROL         "1.5x",IDC_RADIO_SCALE_15,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,230,59,60,10
    CONTROL         "2.0x",IDC_RADIO_SCALE_20,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,170,73,60,10
    CONTROL         "自动大小",IDC_RADIO_SCALE_AUTO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,230,73,60,10
END

STRINGTABLE
BEGIN
IDS_WARN_MISMATCH "不能识别所选进程的游戏版本。"
IDS_WARN_INJECT "游戏进程注入失败。"
IDS_TITLE_TH06 "TH06: 东方红魔乡"
IDS_TITLE_TH07 "TH07: 东方妖妖梦"
IDS_TITLE_TH08 "TH08: 东方永夜抄"
// IDS_TITLE_TH09 "TH09: 东方花映塚"
IDS_TITLE_TH10 "TH10: 东方风神录"
IDS_TITLE_TH11 "TH11: 东方地灵殿"
IDS_TITLE_TH12 "TH12: 东方星莲船"
IDS_TITLE_TH13 "TH13: 东方神灵庙"
IDS_TITLE_TH14 "TH14: 东方辉针城"
IDS_TITLE_TH15 "TH15: 东方绀珠传"
IDS_TITLE_TH16 "TH16: 东方天空璋"
END

#endif
